@media screen and (min-width: 500px) {
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 100px;
        padding-right: 100px;
    }
    main{
        padding-top: 200px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    h1 {
        grid-column: 1/3;
    }
    .card{
        width: 420px;
        grid-row: 2/3;
    }
}